@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="img-wrapper"><img src="" alt="hero-img"></img></div>
    <div class="content">
        <h4 class="title"></h4>
        <p class="text"></p>
        <button></button>
        <a asp-action="Index" asp-controller="Menu" class="btn btn-primary">Order Now</a>
    </div>
</section>